@model FitnessYounesApp.Models.Hizmet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hizmet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SureDakika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SureDakika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ucret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ucret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SporSalonu)
        </dt>
        <dd class = "col-sm-10">
            @(Model.SporSalonu?.Ad ?? "N/A")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
