@model IEnumerable<FitnessYounesApp.Models.Hizmet>

@{
    ViewData["Title"] = "Index";
}

<h1>Hizmetler</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SureDakika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SporSalonu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SureDakika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ucret)
            </td>
            <td>
                    @item.SporSalonu?.Ad
            </td>
            <td>
               @if (User.IsInRole("Admin"))
                    {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
