@model FitnessYounesApp.Models.UyeProfil

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UyeProfil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoyCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoyCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiloKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiloKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
